@import url("../css/reset.css");

/* color */
$primaryColor: #de5454;
$secondaryColor: #11a2ae;
$textColor: #7b7b7b;
$hoverColor: #11a2ae;
$shadeColor: #a09e9e;
$backGroundColor: #fff;
$bodyBackGroundColor: #f5f5f5;
$ribbonTriangleColor: #471d1d;

/* font size */
$text: 15px;
$title: 28px;
$sm:   18px;
$md:   25px;
$lg:   46px;

@mixin flexStyle {
  width: 50%;
  flex: 1 1 1;
}

@mixin colorbarStyle {
  height: 7px;
  flex: 1 1 100px;
}

@mixin logoText {
  font-size: $title;
  letter-spacing: 1px; 
}

@mixin conentStyle {
  grid-row: 1/2; 
  display: flex;
  margin: 20px 0;
}

@mixin dailyContent {
  display: flex;
  border-left: $shadeColor 2px solid;
  align-items: center;
  margin: 8px 0 0 8px;
  padding-left: 8px;
  height: 22px;
}


body {
  background: $bodyBackGroundColor;
}

#container {
  width: 980px;
  margin: 0 auto 50px;
  font-size: $text;
  color: $textColor; 
  line-height: 150%;
  font-family: sans-serif, Arial, Helvetica,;
}

#header {
  margin-bottom: 15px;

  .header-bg {
    display: flex;
    align-items: baseline;
    padding: 20px 0 40px;
    background: $backGroundColor;
  }
  
  .logo {
    @include flexStyle;
    display: flex;
    align-items: baseline;
  }
    .logo-img {
      margin: 0 1em;
    }

    .logo-text1 {
      color: $textColor;
      @include logoText;
    }

    .logo-text2 {
      color: $primaryColor;
      @include logoText;
      border-left: 2px $primaryColor solid;
      margin-left: 5px;
      padding-left: 5px;
    }

  .menu {
    @include flexStyle;
    display: flex;
    justify-content: space-around;  
    
    ul {
      display: flex;
    }
  
    li {
      margin: 0 15px;
      list-style: none;
    }
  
    a {
      color: $textColor;
      text-decoration: none;

      &:hover {
        color: $hoverColor;
        text-decoration-line: none;
      }
    }

    .active {
      color: $secondaryColor;
    }
  }  
}

.colorbar {
  display: flex;

  .gray-block {
    @include colorbarStyle();
    background: #a09e9e;
  }
  
  .pinky-block {
    @include colorbarStyle();
    background: #ef9a9a;
  }
  
  .green-block {
    @include colorbarStyle();
    background:#66c2c9;
  }
}

#banner {
  display: flex;
  background: $backGroundColor;
  background-image: url('../images/comma.png');
  background-repeat: no-repeat;
  background-position-y: 35px;

  .banner-word {
    font-size: $lg;
    font-family: georgia, 'book antiqua', 'palatino linotype';
    font-weight: bold;
    color: $primaryColor;
    line-height: 120%;
    padding: 50px 220px;
  }
  
  .banner-author {
    font-size: $text;
    color: $shadeColor;
  }
}

/* main content */

#content {
	display: grid;
	grid-template-columns: 230px 230px 230px 230px;
	grid-template-rows: 280px 300px 220px 250px;
  grid-gap: 20px;
  min-height: 100vh;
  margin-bottom: 50px;
  padding-bottom: 20px;
  background: $backGroundColor;

  .about {
    @include conentStyle;
    grid-column: 1/span 2;
     
    .about-left {
      @include flexStyle;
      padding: 0 20px;
      color: $shadeColor;
    }
  
    .about-right {
      @include flexStyle;
      padding: 0 20px;
      color: $textColor; 
      border-left: 2px solid $shadeColor;
    }
  }
  
  .class {
    @include conentStyle;
    grid-column: 3/span 2;
    color: $primaryColor;   
          
    .class-left {
      @include flexStyle;
      padding: 0 20px;
    }
  
    .class-right {
      @include flexStyle;
      padding: 0 20px;
      border-left: 2px solid $primaryColor;
    }
  }

  .corporate {
    grid-column: 1/2;
    grid-row: 2/4;
    color: $backGroundColor;
    background-color: $secondaryColor;
    padding: 0 15px 10px 20px;
  }

  .form {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;

    .ribbon {
      width: 241px;
      position: relative;
      text-align: center;
      margin-top: -10px;
    }
  
    .ribbontext {
      opacity: 0.9;
      position: absolute;
      left: -6px;
      top: 200px;
      width: 248px;
      padding: 20px 0;
      font-size: 18px;
      background: $primaryColor;
      color: $backGroundColor;

      &:before {
        font-size: 1px;
        position: absolute;
        left: 0px;
        top: 57px;
        content: '◥';
        color: $ribbonTriangleColor;
      }

      &:after {
        font-size: 1px;
        position: absolute;
        right: 0px;
        top: 57px;
        content: '◤';
        color: $ribbonTriangleColor;
      }
    }
  }
  
  .lab {
    grid-column: 3/span 2;	
    grid-row: 2/3;
    color: $backGroundColor;
    background: $textColor;
    display: flex;
    align-items: baseline;

    .lab-left{
      width: 45%;
      flex: 1 1 1;
      padding-left:20px;
    }
    
    .lab-right {
      width: 55%;
      flex: 1 1 1;
      padding: 0 20px;   
    }

    .lab-right-line {
      border-left: 2px solid $shadeColor;
      padding-left: 20px;
    }
  }
  
  .schedule {
    grid-column: 2/span 2;	
    grid-row: 3/4;
    background-color: $backGroundColor;

    .dailytitle {
      padding-left: 1em;
      font-size: $md;
      line-height: 2;  
      color: $backGroundColor;     
      background-color: $primaryColor;
    }

    .dailytext{
      padding: 1em;
      font-size: $md;
      line-height: 1.5; 
      color: $shadeColor;
      list-style-position: inside;

      li {
        display: flex;
      }

      li::before {
        content: "•";
        color: $primaryColor;
        display: inline-block;
        width: 1em;      
        }
      
      span {
        font-weight: bold;
      }

      .daily-Jan,
      .daily-Rus,
      .daily-Bus {
        @include dailyContent;
      }   
    }
  }
  
  .video {
    grid-column: 1/span 2;	
    grid-row: 4/5;
  }
  
  .picture {
    grid-column: 3/4;	
    grid-row: 4/5;	
  }
  
  .exam {
    grid-row: span 2 /5;
    color: $backGroundColor;
    background-color: $secondaryColor;
    padding: 0 15px 10px 20px;
  }

  /* common css 共用樣式 */

  .slogan {
    font-size: $title;
    line-height: 1.1;
    padding-bottom: 20px;
  }

  .title {
    padding-bottom: 10px;
    font-weight: bold;
  }

  .text{
    padding-bottom: 20px;
  }

  .icon {
    font-size: $lg;
    margin: 20px 0;
  } 

  .icon-dark {
    color: #000;
    opacity: 0.3;
  }

  .morebtn {
    font-size: $title;
  }
}

#footer {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
  background-color: $bodyBackGroundColor;
  
  .contact {
    width: 20%;
    flex: 1 1 auto;
    padding-right: 20px;
    
    .contact-title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-size: $sm;
      color: $secondaryColor;
    }

    .contact-word {
      border-left: $secondaryColor 2px solid;
      padding-left: 6px;
      margin-left: 5px;
      height: 18px;
    }

    .contact-text {
      margin-bottom: 10px;
    }
  }
   
  .mail {
    display: flex;
    width: 50%;   
    flex: 2 1 auto;
    border-left: $secondaryColor 2px solid;
    border-right: $secondaryColor 2px solid;
        
    .mail-left{
      @include flexStyle;
      padding-left: 55px;

      input {
        width: 95%;
        height: 20%;
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 5px;
        border: 0;
        border-radius: 8px;
      }
    }
    
    .mail-right{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-right: 49px;
  
      textarea {
        width: 100%;
        height: 60%;
        padding: 5px;
        resize: none;
        border: 0;
        border-radius: 8px;
      }    

      button {
        width: 35%;
        height: 25%;
        border: 0;
        border-radius: 8px;
        color: $backGroundColor;
        background: $secondaryColor;
      }
    }
  }

  .socialmedia {
    width: 20%;
    flex: 1 1 auto; 
    padding-left: 20px;
    
    .social-title {
      font-size: $sm;
    }

    .sociallink {
      padding: 10px 5px;
    }
  }

  .copyright {
    text-align: center;

    .link {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;

      a {
        color: $textColor;
        text-decoration: none;
        
        &:hover {
          color: $hoverColor;
          text-decoration-line: none;
        }
      }

      .active {
        color: $secondaryColor;
      }
    }
  }
}