@import url("../css/reset.css");

$primaryColor: #de5454;
$secondaryColor: #11a2ae;
$textColor: #7b7b7b;
$hoverColor: #11a2ae;
$shadeColor: #a09e9e;
$backGroundColor: #fff;
$bodyBackGroundColor: #f5f5f5;;
$subTitle: 18px;

$xxxs: '13px';
$xxs:  '15px';
$xs:   '18px';
$s:    '25px';
$sm:   '26px';
$md:   '30px';
$lg:   '48px';
$xl:   '50px';

@mixin flexStyle {
  flex: 1 1 50%;
}

@mixin blockStyle {
  flex: 1 1 100px;
  height:7px;
}

@mixin logoText {
  font-size: $md;
  letter-spacing: 1px; 
}



body {
  background: $bodyBackGroundColor;
}

#container {
  width: 980px;
  margin: 0 auto;
  font-size: $xxs;
  color: $textColor; 
  line-height: 150%;
  font-family: sans-serif, Arial, Helvetica,;
}

#header {
  margin-bottom: $xxs;

  .header-bg {
    display: flex;
    align-items: baseline;
    padding: 20px 0 40px;
    background: $backGroundColor;
  }
  
  .logo {
    @include flexStyle;
    display: flex;
    align-content: flex-start;
    align-items: baseline;
  }
    .logo-img {
      margin: 0 1em;
    }

    .logo-text1 {
      color: $textColor;
      @include logoText;
    }

    .logo-text2 {
      color: $primaryColor;
      @include logoText;
      border-left: 2px $primaryColor solid;
      margin-left: 5px;
      padding-left: 5px;
    }

  .menu {
    @include flexStyle;
    display: flex;
    justify-content: space-around;  
    
    ul {
      display: flex;
    }
  
    li {
      margin: 0 15px;
      list-style: none;
    }
  
    a {
      color: $textColor;
      text-decoration: none;

      &:hover {
        color: $hoverColor;
        text-decoration-line: none;
      }
    }

    .active {
      color: $secondaryColor;
    }
  }  
}

.colorbar {
  display: flex;
  justify-content: center;

  .gray-block {
    @include blockStyle;
    background: #a09e9e;
  }
  
  .pinky-block {
    @include blockStyle;
    background: #ef9a9a;
  }
  
  .green-block {
    @include blockStyle;
    background:#66c2c9;
  }
}

#banner {
  display: flex;
  background: $backGroundColor;

  .banner-deco {
    width: 100%;
    height: 100%;
    margin: 40px 0 0 0;
  }

  .banner-word {
    font-size: $xl;
    font-family: georgia, 'book antiqua', 'palatino linotype';
    font-weight: bold;
    color: $primaryColor;
    line-height: 120%;
    padding: 50px 150px;
  }
  
  .banner-author {
    font-size: $xxxs;
    color: $shadeColor;
  }
}

/* main content */

#content {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	min-height: 100vh;
  margin: 0 auto;
  background: $backGroundColor;

  .about {
    grid-column: 1/span 2;
    grid-row: 1/2; 
    display: flex;
    margin: 20px 0;
     
    .about-left {
      @include flexStyle;
      color: $shadeColor;
    }
  
    .about-right {
      @include flexStyle;
      color: $textColor; 
      border-left: 2px solid $shadeColor;
    }
  }
  
  .class {
    grid-column: 3/span 2;
    grid-row: 1/2; 
    display: flex;
    color: $primaryColor;
    margin: 20px 0;
          
    .class-left {
      @include flexStyle;
    }
  
    .class-right {
      @include flexStyle;
      border-left: 2px solid $primaryColor;
    }
  }

  .corporate {
    grid-column: 1/2;
    grid-row: 2/4;
    color: $backGroundColor;
    background-color: $secondaryColor;
    margin: 10px 10px 10px 0; 
  }

  .form {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
  }
  
  .lab {
    grid-column: 3/span 2;	
    grid-row: 2/3;
    color: $backGroundColor;
    background: $textColor;
    display: flex;
    align-items: baseline;
    margin: 10px 0 10px 10px; 

    .lab-left{
      @include flexStyle;
    }
    
    .lab-right {
      @include flexStyle;
      border-left: 2px solid $backGroundColor;
    }
  }
  
  .schedule {
    grid-column: 2/span 2;	
    grid-row: 3/4;
    background-color: $backGroundColor;
    margin: 10px;

    .dailytitle {
      padding-left: 1em;
      font-size: $sm;
      line-height: 2;  
      color: $backGroundColor;     
      background-color: $primaryColor;
    }
    .dailytext{
      padding: 1em;
      font-size: $s;
      line-height: 1.5; 
      color: $shadeColor;
      list-style-position: inside;

      li::before {
        content: "•";
        color: $primaryColor;
        display: inline-block;
        width: 1em;      
        }
      
      span {
        font-weight: bold;
      }
    }
  }
  
  .video {
    grid-column: 1/span 2;	
    grid-row: 4/5;
    margin: 10px 10px 20px 10px ; 
  }
  
  .picture {
    grid-column: 3/4;	
    grid-row: 4/5;	
    margin: 10px 10px 20px 10px ; 
  }
  
  .exam {
    grid-row: span 2 /5;
    color: $backGroundColor;
    background-color: $secondaryColor;
    margin: 10px 0 20px 10px; 
  }

  /* common css 共用樣式 */

  .slogan {
    padding: 0 10px 20px 20px;
    font-size: $sm;
    line-height: 1.2;
  }

  .title {
    padding: 0 10px 10px 20px;
    font-weight: bold;
  }

  .text {
    padding: 0 20px;
  }

  .icon {
    font-size: $lg;
    padding: 20px;
  } 

  .icon-dark {
    color: #000;
    opacity: 0.3;
  }

  .morebtn {
    font-size: $md;
    padding: 20px;
  }
}

#footer {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
  background-color: $bodyBackGroundColor;
  padding: 50px 0;
  
  .contact {
    flex: 1 1 25%;    

    .contact-title {
      padding: 10px;
      font-size: $xs;
      color: $secondaryColor;
    }
    .contact-text {
      padding: 0 20px 0 10px;
    }
    .space {
      margin-bottom: 10px;
    }
  }
   
  .mail {
    border-left: #11a2ae 2px solid;
    border-right: #11a2ae 2px solid;
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    flex: 2 1 45%;
    
    .mail-left{
      @include flexStyle;
      
      input {
        width: 70%;
        height: 20%;
        box-sizing: border-box;
        padding: 5px;
        margin: 0 0 5px 50px;
        border: 0;
        border-radius: 8px;
      }
    }
    
    .mail-right{
      @include flexStyle;

      textarea {
        width: 70%;
        height: 60%;
        padding: 5px;
        margin: 0 50px 0 0;
        resize: none;
        border: 0;
        border-radius: 8px;
      }    
      button {
        width: 20%;
        height: 25%;
        border-radius: 8px;
        margin-left: 122px;
        color: $backGroundColor;
        background: $secondaryColor;
      }
    }
  }

  .socialmedia {
    flex: 1 1 25%; 
    padding: 0 10px 0 30px;
    
    .social-title {
      font-size: $xs;
    }
    .sociallink {
      padding: 10px 5px;
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    text-align: center;

    .link {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;

      a {
        color: $textColor;
        text-decoration: none;
        
        &:hover {
          color: $hoverColor;
          text-decoration-line: none;
        }
      }

      .active {
        color: $secondaryColor;
      }
    }
  }
}