html, body{
    height: 100%;
}

body{
    margin: 0;
	padding: 0;
    font-size: 15px;
    line-height: 150%;
    background: #000000;
    font-family: sans-serif, Arial, Helvetica ;
    color: #fff;
}

h1,p{
    margin: 0;
    padding: 0;
}

#header{
    width: 980px;
    margin: 0 auto;
    letter-spacing: 1px;
}

#logo {  
    margin: 30px auto;
    width: 20%;
    justify-content: center;
    text-align: center;
}

.decoLine {
    border-top: #fff thin double;
    border-bottom: #fff thin double;
    padding: 5px;
}

.slogan {
    font-size: small;
}

#menu {  
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu li{
    margin: 14px;
    padding: 0;
    list-style: none;
}

#menu a{
    color:#fff;
    text-decoration: none;
}

// input{
//     border: 0px;
//     font-size: 15px;
// }

#content{
    width: 980px;
    margin: 0 auto;
    min-height: 100%;
}

#contentImg{
    width: 100%;
    display: flex;
    justify-content: center;
}

#contentImg p {
    width: 90%;
}

.btm {
    margin: 10px auto 50px;
}

.btm a {
    color:orange;
    text-decoration-line: none;   
}

.btm a:hover {
    color:violet;
    text-decoration-line: none;   
}

.hour{
    background-color: orange;
    width: 230px;
    height: 148px;
}

.hour p{
text-align: center;
font-size: x-large;
padding: 30px 15px 0 15px;
}


#footer{
    background:#557277;
    color:#d0d0d0;

    .bottomInfo{
        display: flex;
        display: -webkit-flex;
        justify-content:center;
        -webkit-justify-content:center;
        
        .box{
            display: flex;
            display: -webkit-flex;
            margin: 20px 0;
            width: 980px;
            
            .contactUs{
                flex: 1;
                .title{
                    font-weight: bold;
                }
                .mail{
                    margin: 0 0 20px 0;
                }
                .link{
                    a{
                        padding: 10px;
                        color:#fff;
                        i{
                            font-size: 22px;

                            &:hover{
                                color:#999;
                            }
                        }
                    }
                }
            }
            .weAccept{
                flex: 1;
                img{
                    color:#fff;
                    margin: 10px 5px 0 0;
                }
            }
            .joinEmail{
                flex: 2;
                input{
                    padding: 5px 0;
                }
                input[type=email]{
                    box-sizing: border-box;
                    width: 100%;
                    background:#d0d0d0;
                    margin: 10px 0;
                    padding: 10px;
                }
                button{
                    border: 0;
                    width: 100%;
                    background:#38494d;
                    color:#fff;
                    padding: 10px;
                }
            }
        }
    }
    .copyright{
        font-size: 10px;
        background:#545354;
        padding: 1em 0;
        text-align: center;
        a{
            color:#fff;
            text-decoration: underline;
        }
    }
}