@import url("../css/reset.css");

$primaryColor: #de5454;
$secondaryColor: #11a2ae;
$hoverColor: #11a2ae;
$shadeColor: #a09e9e;
$backGroundColor: #fff;
$textColor: #444;

body {
  font-size: 15px;
  line-height: 150%;
  background: #f5f5f5;
  font-family: sans-serif, Arial, Helvetica;
  color: $textColor; 
}

#container {
  width: 980px;
  margin: 0 auto;
  background: $backGroundColor;
}

#header {
  width: 100%;
  // margin: 0px auto 10px auto;
  display: flex;
}

.top_block {
  width: 100%;
  display: flex;
  justify-content: center;

  .gray_block {
    width: 125px;
    height:7px;
    background: #a09e9e;
  }
  
  .pinky_block {
    width: 150px;
    height:7px;
    background: #ef9a9a;
  }
  
  .green_block {
    width: 150px;
    height:7px;
    background:#66c2c9;
  }
}

.banner {
  display: flex;

  .banner_deco {

  }

  .banner_word {
    font-size: 50px;
    font-family: georgia, 'book antiqua', 'palatino linotype';
    font-weight: bold;
    color: $primaryColor;
    line-height: 120%;
    padding: 50px 200px;
  }
  
  .banner_author {
    font-size: 13px;
    color: $shadeColor;
  }
}


#logo {
  display: flex;
  align-items: center;
  width: 40%;

  .logo_img {

  }

  .logo_left {
    color: $textColor;
  }

  .logo_right {
    color: $primaryColor;
  }
  
}


#menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  // margin: 25px 0 20px 50px;
  
  a {
    color: $textColor;
    text-decoration: none;
    &:hover {
      color: $hoverColor;
      text-decoration-line: none;
    }
  }
     
  ul {
    display: flex;
  }

  li {
    margin: 0 15px;
    list-style: none;
  }
}

#content {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	//grid-gap: 20px;
	width: 100%;
	min-height: 100vh;
  margin: 0 auto;
}

.about {
  grid-column: 1/span 2;
  grid-row: 1/2; 
  display: flex;
  .about_left {
  

  }

  .about_right {
    p {
      margin: 10px 0 0 0;
      color: #999;
    }
  }
}

.class {
  grid-column: 3/span 2;
  grid-row: 1/2; 
  display: flex;

  .class_left {
    color: $primaryColor;
    font-size: 26px;
    line-height: 30px;
  }

  .class_right {

  }

}
.corporate {
  grid-column: 1/2;
  grid-row: span 2/4;
  background-color: $secondaryColor;
}
.form {
  grid-area: 2 / 2 / 3 / 3;
}
.lab {
  grid-column: 3/span 2;	
  grid-row: 2/3;
  background: $shadeColor;
}
.schedule {
  grid-column: 2/span 2;	
  grid-row: 3/4;
  background-color: $backGroundColor;
}
.video {
  grid-column: 1/span 2;	
  grid-row: 4/5;
}
.picture {
  grid-column: 3/4;	
  grid-row: 4/5;	
}
.exam {
  grid-row: span 2 /5;
  background-color: $secondaryColor;
}

.about_centent {
  width: 25%;
  border-left: 2px solid #999;
}

.about_centent p{
  color: #999;
  font-size: 13px;
  width: 58%;
  padding-left: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.classes_img h5{
  color: #de5454;
  font-size: 26px;
  line-height: 30px;
}

.classes_content {
  width: 25%;
  border-left: 2px solid #de5454;
}

.classes_content p {
    color: #de5454;
    font-size: 13px;
    width: 58%;
    padding-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btm {
  margin: 10px auto 50px; }

.btm a {
  color: orange;
  -webkit-text-decoration-line: none;
  text-decoration-line: none; }

.btm a:hover {
  color: violet;
  -webkit-text-decoration-line: none;
  text-decoration-line: none; }

.hour {
  background-color: orange;
  width: 230px;
  height: 148px; }

.hour p {
  text-align: center;
  font-size: x-large;
  padding: 30px 15px 0 15px; }

#reservation {
  width: 980px;
  height:150px;
  border-top: #fff thin double;
  border-bottom: #fff thin double;
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 24px 0 50px 0;
  margin: 0 auto; 
}

#reservation_content {
  display: flex;
  height: 40px;
}

#reservation_word {
   width: 980px;
   justify-content: center;
   display: flex;
   height: 100px;
}

#reservation_word h1{
  margin-right: 20%;
}

.btmspace {
  margin-bottom: 15px; 
}

#footer {
  width: 100%;
  display: flex;
  flex-direction: row;   
  flex-wrap: wrap;
  justify-content: space-around;
  
  .footer_left {
    // flex: 1 1 50%;
    width:30%;

    p {
      margin: 0;
      padding: 0;
      color: #555;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }

  .footer_center {
    border-left: #11a2ae thin solid;
    border-right: #11a2ae thin solid;
    // display: flex;
    // flex-direction: column;   
    // flex-wrap: wrap;
    // align-content: stretch;
    // flex: 1 1 50%;
    width: 30%;
    .email {
      margin: 3px 0 3px 0;
    }
  }

  .footer_right {
    // flex: 1 1 50%;
    width: 30%
  }

  .footer_copyright {
    display: grid;
    justify-content: center;
    width: 100%; 
    a {
      color: $textColor;
    }
  }
}


.link {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
  }

  li {
    margin: 0 15px;
    list-style: none;
    a {
      color: $textColor;
      text-decoration: none;
    }
  }
}

// .input_right {
//   border: 0;
//   width: 90%;
//   margin: 38px 0 0 10px;
//   height: 68px;
//   font-size: 14px;
//   resize: none;
//   display: grid;
// }
// .input_right button {
//   width: 18%;
//   height: 30px;
//   border-radius: 8px;
//   margin: 7px 0 0 160px;
//   color: #f1f1f1;
//   background: #11a2ae;
// }

// .input_right textarea {
//   border: 0;
//   width: 70%;
//   padding: 10px;
//   height: 68px;
//   font-size: 14px;
//   resize: none;
//   border-radius: 8px;
// }






/* main content */









