@import url("../css/reset.css");

/* colors */

$primaryRed: #ff6b6b;
$secondaryRed: #ae5555;
$primaryGray: #a3a3a3;
$secondaryGray: #828282;
$menuBackGround: #343434;
$mainBackGround: #e8e8e8;
$whiteText: #FFF;
$darkText: #333;
$online: #36b974;
$offline: #727171;
$page-border-Color: #D7D7D7;


@mixin status($Color) {
  color: $whiteText;
  background-color: $Color;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

@mixin list-border-status($Color) {
  border-left: $Color 5px solid;
}

%editInput {
  padding: 5px;          
  border-radius: 5px;
  border: 1px solid $page-border-Color;
}


#container {
  display: flex;

  #menu {
    min-width: 250px;
    color: $whiteText;
    background: $menuBackGround;
    line-height: 2.8;

    .logo {
      text-align: center;
    }

    .list {
      padding-left: 2em;
    }

    .active-lv1{   
      background: $primaryRed;
      padding-left: 2em;
    }

    .active-lv2{
      background: $secondaryRed;
      padding-left: 2em;
      border-bottom: 1px solid $menuBackGround;
      display: block;
    }   
    .select {
      position: absolute;
      border-top: 13px solid hsla(0, 0, 0, 0);
      border-bottom: 13px solid hsla(0, 0, 0, 0);
      border-right: 15px solid $whiteText;
      height: 0;
      margin: -35px 0 0 203px;
    }

    .hover-lv1{
      background: $primaryGray;
      padding-left: 2em;
    }    

    .hover-lv2{
      background: $secondaryGray;
      padding-left: 2em;
      border-bottom: 1px solid $menuBackGround;
    }
  }

  #main {
    flex: 1 1 auto;
    flex-flow: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $darkText;
      background: $whiteText;
      min-height: 60px;
      border-bottom: 1px solid $page-border-Color;
      padding: 0 1em;

      .userphoto {
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius:50%;
        vertical-align:middle;
        margin-left: 1em;
      }

      a {
        text-decoration:none;
      }
    }

    .content {
      color: $darkText;
      background: $mainBackGround;
      min-height: 95%;
      padding: 0 1em;

      .title {
        font-size: 36px;
        line-height: 2.5;
      }

      .functions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $secondaryGray;
        margin-bottom: 20px;

        .search-box {
          width: 300px;
          padding:5px 15px;
          border-radius: 5px 0 0 5px;
          border: 1px solid $page-border-Color;
        }
        .search-btn {
          padding:5px 15px;
          border-radius: 0 5px 5px 0;
          border: 1px solid $page-border-Color;
          background: $whiteText;
        }
        .searchmore {
          display: inline;
          margin-left: 1em;
        }
      }
  
      .css-table {
        display: table;
        width: 100%;

        .gate {
          margin-top: 10px;
        }

        .thead {
          display: table-header-group;
        }
        
        .tbody {
          display: table-row-group;
        }
        
        .tr {
          display: table-row;
        }
        
        .tr:nth-child(even) { 
          background: $mainBackGround;
        }
        
        .tr:nth-child(odd) {
          background: $whiteText;
        }

        .th {
          display: table-cell;
          color: $whiteText;
          background: $menuBackGround;
          padding: 1em;
        }

        .th-left {
          border-radius: 8px 0 0 8px;
        }

        .th-right {
          border-radius: 0 8px 8px 0;
        }
       
        .td {
          display: table-cell;
          padding: 1em;
          border-bottom: $page-border-Color 1px solid;
          line-height: 26px;

          .detail-icon{
            display: flex;

            .list-edit {
              border:0;
              font-size: 21px;
              background-color: transparent;
            }
            .list-del {
              border:0;
              font-size: 21px;
              margin-left: 20%; 
              background-color: transparent;
            }
          }

          .detail-edit-icon {
            display: flex;

            .list-check {
              border:0;
              font-size: 21px;
              background-color: transparent;
            }
            .list-cancel {
              border:0;
              font-size: 21px;
              background-color: transparent;
            }
          }
        }

        .error {
          @include list-border-status($primaryRed)
        }
        
        .online {
          @include list-border-status($online)
        }
        
        .offline {
          @include list-border-status($offline)
        }
        
        .status-error {
          @include status($primaryRed)
        }

        .status-online {
          @include status($online)
        }

        .status-offline {
          @include status($offline)
        }

        .input-address {
          width: 90%;
          @extend %editInput;
        }

        .input-region {
          @extend %editInput;
        }
      }

      .page {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 25px;
        .pageNumber {
          .pagination {
            margin: 0 0 0 15px;
            display: flex;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              line-height: 30px;
              font-size: 10pt;
              color: $menuBackGround;
              background: none;
              border: 1px solid $page-border-Color;
              &:hover {
                color: $whiteText;
                background: $menuBackGround;
              }
            }
          }
        }
      }  
    }
  }
}