
@import url("../css/reset.css");

$white-color: #fff;
$black-color: #000;
$brown-color: #b78a15;
$purple-color: #6f00d2;
$lightgray-color: #efefef;


body {
  margin: 0;
  padding: 0;
  background: $black-color;
  color: $white-color;
  font-size: 15px;
  line-height: 150%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

#container {
  width: 980px;
  margin: 0 auto;
}

#header {
  width: 100%;
  margin: 0 auto; 
}

#logo {
  margin: 30px auto;
  width: 30%;
  text-align: center; 
}

.decoLine {
  border-top: $white-color thin solid;
  border-bottom: $white-color thin solid;
  padding: 6px; 
}

.logoname {
  font-size: 50px;
  line-height: 110%; 
}

.slogan {
  color: $lightgray-color;
  font-family: sans-serif;
  margin: 10px; 
}

#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px; 
    a {
      color: $white-color;;
      text-decoration: none;
    }
    a:hover {
      color: $brown-color;
      text-decoration-line: none;
    }

    ul {
      display: flex;
    }

    li {
      margin: 0 10px;
      list-style: none;
    }
}

#content {
  width: 100%;
  margin: 0 auto;
}
#contentImg {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  p {
    width: 90%;
  }
}
 
.btm {
  a {
    color: $brown-color;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
  }
  a:hover {
    color: $purple-color;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
  }
}

.imgDiv {
  margin: 10px auto 50px;
  p {
    margin-bottom: 10px;
  }
}

.hour {
  background-color: $brown-color;
  width: 230px;
  height: 148px;
  text-align: center; 
  line-height: 40px;
}

.hourtext1 {
  font-size: 32px;
  padding-top: 30px;
}

.hourtext2 {
  font-size: 25px;
}

#reservation {
  width: 100%;
  margin: 0 auto 20px;
  padding: 50px 0;
  border-top: $white-color thin solid;
  border-bottom: $white-color thin solid;   
}

.reservation_title {
  text-align: center;
  margin: 20px 0 70px;
  font-size: 30px;
}

.form {
  width: 700px;
}

.formfill{
  width: 150px;
  height: 40px;
  padding-left:1em;
  margin-right: 1em;
  color: $white-color; 
  border: $white-color thin solid;
  background-color: $black-color; 
}
.formbtn{
  width: 150px;
  height: 40px; 
  color: $white-color; 
  border: none;
  border-radius: 2px;   
  background-color: $brown-color; 
}

#footer {
  width: 100%;
  margin: 0 auto;
  display: flex;

  .footer_left {
    display: grid;
    width: 100%;
  }
  
  .footer_left_contact {
    display: flex;

    .contact {
      justify-content: center;
      width: 100%;
    }
    .openinghour {
      justify-content: center;
      width: 100%;
    }
    
    .findus {
      justify-content: center;
      width: 100%;
    }
    
    .copyright {
      width: 100%;
      margin: 35px 0 60px;
    }
  }
}

.footer_title {
  color: $brown-color;
  margin-bottom: 10px;
}

.link {
  color: $white-color;
  font-size: 20px;
  margin: 0 5px;
}

.space {
  margin-bottom: 10px;
}