
@import url("../css/reset.css");

$primaryColor: #fff;
$secondaryColor: #b78a15;
$hoverColor: #6f00d2;
$shadeColor: #efefef;
$backGroundColor: #000;

body {
  background: $backGroundColor;
  color: $primaryColor;
  font-size: 15px;
  line-height: 150%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

#container {
  width: 980px;
  margin: 0 auto;
}

#header {
  width: 100%;

  #logo {
    margin: 30px auto;
    width: 25%;
    text-align: center; 

    .decoLine {
      border-top: $primaryColor thin solid;
      border-bottom: $primaryColor thin solid;
      padding: 6px; 
    }

    .logoname {
      font-size: 50px;
      line-height: 40px; 
    }

    .slogan {
      color: $shadeColor;
      font-family: sans-serif;
      margin-top: 3px; 
    }
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px; 
    
    a {
      color: $primaryColor;
      text-decoration: none;
      &:hover {
        color: $secondaryColor;
        text-decoration-line: none;
      }
    }
       
    ul {
      display: flex;
    }

    li {
      margin: 0 15px;
      list-style: none;
    }
  }
}


#content {
  width: 100%;

  #contentImg {
    width: 100%;
    display: flex;
    justify-content: center;

    .imgDiv {
      margin: 10px auto 50px;
      
      .imgTitle{
        font-size: 24px;
        line-height: 80px; 
      }

      p {
        width: 90%;
        margin-bottom: 10px;
      }

      .hour {
        background-color: $secondaryColor;
        width: 230px;
        height: 148px;
        text-align: center; 
        line-height: 40px;
      }
      
      .hourtext1 {
        font-size: 32px;
        padding-top: 30px;
      }
      
      .hourtext2 {
        font-size: 25px;
      }
    }
    .btm {

      a {
        color: $secondaryColor;
        text-decoration-line: none;
        &:hover {
          color: $hoverColor;
          text-decoration-line: none;
        }
      }
    }
  }
}

#reservation {
  width: 100%;
  margin: 0 auto 20px;
  padding: 50px 0;
  border-top: $primaryColor thin solid;
  border-bottom: $primaryColor thin solid; 
  
  .reservation_title {
    text-align: center;
    margin: 20px 0 70px;
    font-size: 30px;
  }

  .form {
    width: 800px;

    .formfill {
      width: 160px;
      height: 40px;
      padding-left:1em;
      margin-right: 1em;
      color: $primaryColor; 
      border: $primaryColor thin solid;
      background-color: $backGroundColor; 
    }
    
    .formbtn {
      width: 160px;
      height: 40px; 
      color: $primaryColor; 
      border: none;
      border-radius: 2px;   
      background-color: $secondaryColor; 
    }  
  }
}

#footer {
  width: 100%;
  display: flex;
  flex-direction: row;   
  align-content:flex-start;
  margin-bottom: 50px;

  .footer_left{
    width: 50%;
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    align-content:flex-start;

    .contact, .openinghour {
      flex: 1 1 50%;
    }
    
    .copyright {
      flex:1 2 100%;
      margin-top: 50px;

      .sociallink {
        color: $primaryColor;
        font-size: 20px;
        margin: 0 5px;
      }
    }
    
    .findus {
      width: 50%;
    }

    .footer_title {
      color: $secondaryColor;
      margin-bottom: 15px;
    }
      
    .space {
      margin-bottom: 10px;
    }
  }
}