@import url("../css/reset.css");
body {
  font-size: 15px;
  line-height: 150%;
  background: #f5f5f5;
  font-family: sans-serif, Arial, Helvetica;
  color: #444; }

#container {
  width: 980px;
  margin: 0 auto;
  background: #fff; }

#header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.top_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .top_block .gray_block {
    width: 125px;
    height: 7px;
    background: #a09e9e; }
  .top_block .pinky_block {
    width: 150px;
    height: 7px;
    background: #ef9a9a; }
  .top_block .green_block {
    width: 150px;
    height: 7px;
    background: #66c2c9; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .banner .banner_word {
    font-size: 50px;
    font-family: georgia, 'book antiqua', 'palatino linotype';
    font-weight: bold;
    color: #de5454;
    line-height: 120%;
    padding: 50px 200px; }
  .banner .banner_author {
    font-size: 13px;
    color: #a09e9e; }

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%; }
  #logo .logo_left {
    color: #444; }
  #logo .logo_right {
    color: #de5454; }

#menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  #menu a {
    color: #444;
    text-decoration: none; }
    #menu a:hover {
      color: #11a2ae;
      -webkit-text-decoration-line: none;
      text-decoration-line: none; }
  #menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #menu li {
    margin: 0 15px;
    list-style: none; }

#content {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto; }

.about {
  grid-column: 1/span 2;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .about .about_right p {
    margin: 10px 0 0 0;
    color: #999; }

.class {
  grid-column: 3/span 2;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .class .class_left {
    color: #de5454;
    font-size: 26px;
    line-height: 30px; }

.corporate {
  grid-column: 1/2;
  grid-row: span 2/4;
  background-color: #11a2ae; }

.form {
  grid-area: 2 / 2 / 3 / 3; }

.lab {
  grid-column: 3/span 2;
  grid-row: 2/3;
  background: #a09e9e; }

.schedule {
  grid-column: 2/span 2;
  grid-row: 3/4;
  background-color: #fff; }

.video {
  grid-column: 1/span 2;
  grid-row: 4/5; }

.picture {
  grid-column: 3/4;
  grid-row: 4/5; }

.exam {
  grid-row: span 2 /5;
  background-color: #11a2ae; }

.about_centent {
  width: 25%;
  border-left: 2px solid #999; }

.about_centent p {
  color: #999;
  font-size: 13px;
  width: 58%;
  padding-left: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.classes_img h5 {
  color: #de5454;
  font-size: 26px;
  line-height: 30px; }

.classes_content {
  width: 25%;
  border-left: 2px solid #de5454; }

.classes_content p {
  color: #de5454;
  font-size: 13px;
  width: 58%;
  padding-left: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.btm {
  margin: 10px auto 50px; }

.btm a {
  color: orange;
  -webkit-text-decoration-line: none;
  text-decoration-line: none; }

.btm a:hover {
  color: violet;
  -webkit-text-decoration-line: none;
  text-decoration-line: none; }

.hour {
  background-color: orange;
  width: 230px;
  height: 148px; }

.hour p {
  text-align: center;
  font-size: x-large;
  padding: 30px 15px 0 15px; }

#reservation {
  width: 980px;
  height: 150px;
  border-top: #fff thin double;
  border-bottom: #fff thin double;
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 24px 0 50px 0;
  margin: 0 auto; }

#reservation_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px; }

#reservation_word {
  width: 980px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px; }

#reservation_word h1 {
  margin-right: 20%; }

.btmspace {
  margin-bottom: 15px; }

#footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  #footer .footer_left {
    width: 30%; }
    #footer .footer_left p {
      margin: 0;
      padding: 0;
      color: #555;
      font-family: Georgia, 'Times New Roman', Times, serif; }
  #footer .footer_center {
    border-left: #11a2ae thin solid;
    border-right: #11a2ae thin solid;
    width: 30%; }
    #footer .footer_center .email {
      margin: 3px 0 3px 0; }
  #footer .footer_right {
    width: 30%; }
  #footer .footer_copyright {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
    #footer .footer_copyright a {
      color: #444; }

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .link li {
    margin: 0 15px;
    list-style: none; }
    .link li a {
      color: #444;
      text-decoration: none; }

/* main content */
