@charset "UTF-8";
@import url("../css/reset.css");
body {
  background: #f5f5f5; }

#container {
  width: 980px;
  margin: 0 auto;
  font-size: 15px;
  color: #7b7b7b;
  line-height: 150%;
  font-family: sans-serif, Arial, Helvetica; }

#header {
  margin-bottom: 15px; }
  #header .header-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 20px 0 40px;
    background: #fff; }
  #header .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  #header .logo-img {
    margin: 0 1em; }
  #header .logo-text1 {
    color: #7b7b7b;
    font-size: 30px;
    letter-spacing: 1px; }
  #header .logo-text2 {
    color: #de5454;
    font-size: 30px;
    letter-spacing: 1px;
    border-left: 2px #de5454 solid;
    margin-left: 5px;
    padding-left: 5px; }
  #header .menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #header .menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    #header .menu li {
      margin: 0 15px;
      list-style: none; }
    #header .menu a {
      color: #7b7b7b;
      text-decoration: none; }
      #header .menu a:hover {
        color: #11a2ae;
        -webkit-text-decoration-line: none;
        text-decoration-line: none; }
    #header .menu .active {
      color: #11a2ae; }

.colorbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .colorbar .gray-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100px;
    flex: 1 1 100px;
    height: 7px;
    background: #a09e9e; }
  .colorbar .pinky-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100px;
    flex: 1 1 100px;
    height: 7px;
    background: #ef9a9a; }
  .colorbar .green-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100px;
    flex: 1 1 100px;
    height: 7px;
    background: #66c2c9; }

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  background-image: url("../images/comma.png");
  background-repeat: no-repeat;
  background-position-y: 35px; }
  #banner .banner-word {
    font-size: 46px;
    font-family: georgia, 'book antiqua', 'palatino linotype';
    font-weight: bold;
    color: #de5454;
    line-height: 120%;
    padding: 50px 220px; }
  #banner .banner-author {
    font-size: 13px;
    color: #a09e9e; }

/* main content */
#content {
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  grid-template-rows: 280px 300px 220px 250px;
  min-height: 100vh;
  margin-bottom: 50px;
  padding-bottom: 20px;
  background: #fff;
  grid-gap: 20px;
  /* common css 共用樣式 */ }
  #content .ribbon {
    width: 241px;
    position: relative;
    text-align: center;
    margin-top: -10px; }
    #content .ribbon .text {
      opacity: 0.9;
      position: absolute;
      left: -6px;
      top: 200px;
      width: 248px;
      padding: 20px 0;
      font-size: 18px;
      background: #de5454;
      color: #fff; }
      #content .ribbon .text:before {
        font-size: 1px;
        position: absolute;
        left: 0px;
        top: 57px;
        content: '◥';
        color: #471d1d; }
      #content .ribbon .text:after {
        font-size: 1px;
        position: absolute;
        right: 0px;
        top: 57px;
        color: #471d1d;
        content: '◤'; }
  #content .about {
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    grid-column: 1/span 2; }
    #content .about .about-left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      color: #a09e9e;
      padding-left: 20px; }
    #content .about .about-right {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      padding: 0 20px;
      color: #7b7b7b;
      border-left: 2px solid #a09e9e; }
  #content .class {
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    grid-column: 3/span 2;
    color: #de5454; }
    #content .class .class-left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%; }
    #content .class .class-right {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      padding: 0 20px;
      border-left: 2px solid #de5454; }
  #content .corporate {
    grid-column: 1/2;
    grid-row: 2/4;
    color: #fff;
    background-color: #11a2ae;
    padding: 0 10px 20px 20px; }
  #content .form {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center; }
  #content .lab {
    grid-column: 3/span 2;
    grid-row: 2/3;
    color: #fff;
    background: #7b7b7b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 0 10px 20px 20px; }
    #content .lab .lab-left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%; }
    #content .lab .lab-right {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      padding: 0 20px; }
    #content .lab .lab-right-line {
      border-right: 2px solid #fff; }
  #content .schedule {
    grid-column: 2/span 2;
    grid-row: 3/4;
    background-color: #fff;
    margin: 10px; }
    #content .schedule .dailytitle {
      padding-left: 1em;
      font-size: 26px;
      line-height: 2;
      color: #fff;
      background-color: #de5454; }
    #content .schedule .dailytext {
      padding: 1em;
      font-size: 25px;
      line-height: 1.5;
      color: #a09e9e;
      list-style-position: inside; }
      #content .schedule .dailytext li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      #content .schedule .dailytext li::before {
        content: "•";
        color: #de5454;
        display: inline-block;
        width: 1em; }
      #content .schedule .dailytext span {
        font-weight: bold; }
      #content .schedule .dailytext .daily-Jan {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-left: #a09e9e 2px solid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 8px 0 0 8px;
        padding-left: 8px;
        height: 22px; }
      #content .schedule .dailytext .daily-Rus {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-left: #a09e9e 2px solid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 8px 0 0 8px;
        padding-left: 8px;
        height: 22px; }
      #content .schedule .dailytext .daily-Bus {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-left: #a09e9e 2px solid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 8px 0 0 8px;
        padding-left: 8px;
        height: 22px; }
  #content .video {
    grid-column: 1/span 2;
    grid-row: 4/5; }
  #content .picture {
    grid-column: 3/4;
    grid-row: 4/5; }
  #content .exam {
    grid-row: span 2 /5;
    color: #fff;
    background-color: #11a2ae;
    padding: 0 10px 20px 20px; }
  #content .slogan {
    font-size: 30px;
    line-height: 1.2; }
  #content .title {
    padding: 0 10px 10px 20px;
    font-weight: bold; }
  #content .icon {
    font-size: 48px;
    margin: 20px 0; }
  #content .icon-dark {
    color: #000;
    opacity: 0.3; }
  #content .morebtn {
    font-size: 30px;
    padding: 20px; }

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #f5f5f5; }
  #footer .contact {
    width: 24%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
    #footer .contact .contact-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px;
      font-size: 18px;
      color: #11a2ae; }
    #footer .contact .contact-word {
      border-left: #11a2ae 2px solid;
      padding-left: 6px;
      margin-left: 5px;
      height: 18px; }
    #footer .contact .contact-text-space {
      margin-bottom: 10px; }
  #footer .mail {
    border-left: #11a2ae 2px solid;
    border-right: #11a2ae 2px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 48%;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto; }
    #footer .mail .mail-left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      padding-left: 55px; }
      #footer .mail .mail-left input {
        width: 90%;
        height: 20%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 5px;
        border: 0;
        border-radius: 8px; }
    #footer .mail .mail-right {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-right: 49px; }
      #footer .mail .mail-right textarea {
        width: 100%;
        height: 60%;
        padding: 5px;
        resize: none;
        border: 0;
        border-radius: 8px; }
      #footer .mail .mail-right button {
        width: 35%;
        height: 25%;
        border-radius: 8px;
        color: #fff;
        background: #11a2ae; }
  #footer .socialmedia {
    width: 24%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 20px; }
    #footer .socialmedia .social-title {
      font-size: 18px; }
    #footer .socialmedia .sociallink {
      padding: 10px 5px; }
  #footer .copyright {
    text-align: center; }
    #footer .copyright .link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 20px 0; }
      #footer .copyright .link a {
        color: #7b7b7b;
        text-decoration: none; }
        #footer .copyright .link a:hover {
          color: #11a2ae;
          -webkit-text-decoration-line: none;
          text-decoration-line: none; }
      #footer .copyright .link .active {
        color: #11a2ae; }
